body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.buttons-container {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  
  gap: 1px;
}

h2 {
  width: 300px;
  min-height: 30px;
  margin: 0;
  padding: 16px;
  background-color: rgba(163, 211, 226, 0.315)
}

button {
  font-size: 16px;
  min-width: 74px;
  min-height: 60px;
  flex: 1;
  border-radius: 0;
  border: 0;
  background-color: rgba(163, 211, 226, 0.315);
}