.buttons-container {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
}

h2 {
  width: 200px;
  min-height: 30px;
  margin: 0;
  padding: 8px 0;
}

button {
  min-width: 50px;
  min-height: 40px;
  flex: 1;
}